// *************************************
//
//   Buttons
//   -> Global utilities
//
// *************************************

// -------------------------------------
//   Variables
// -------------------------------------

$button-color: $color6;
$button-color: $teal;


// -------------------------------------
//   Button
// -------------------------------------
.btn {
    border: none;
    border-radius: 2px;
    display: inline-block;
    text-decoration: none;
    height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
    color: white;
    background-color: $button-color;
    text-align: center;
    letter-spacing: .5px;
    @extend .z-depth-1;
    @include transition(.2s ease-out);
    cursor: pointer;

    &:hover {
        background-color: lighten($button-color, 5%);
    }

    &.red {
        
    }
}

