// *************************************
//
//   Footer
//   -> Global utilities
//
// *************************************

// -------------------------------------
//   Background
// -------------------------------------

footer {
	background-color: #797c82;
	color: #fff;
	position: relative;
	font-size: 14px;
	.logo {
		@include transition(all .25s ease);
		display: block;
		vertical-align: middle;
	    max-width: 200px;
	}
}